button:focus {
    outline: none;
    box-shadow: none; /* Removes the focus ring */
  }
  :focus {
    --tw-ring-offset-color: transparent;
    --tw-ring-color: transparent;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    outline: none;
    box-shadow: none;
  }
  
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    button:focus {
        @apply outline-none;
    }
}
